@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .menu-icon-option {
    @apply flex gap-[6px] items-center h-5;
  }
  .header {
    width: calc(100% - 320px);
  }
  .border-right {
    @apply pr-3 border-r border-r-togglecolor border-solid;
  }
  .onhover {
    @apply text-hover bg-bodycolor rounded h-6 p-[5px];
  }
  .form-row {
    @apply flex justify-between mt-3 gap-8;
  }
  .form-group {
    @apply flex items-center w-full;
  }
  .guide-item {
    @apply flex gap-1;
  }
  .settingLI {
    transition: background 0.3s;
  }
  .active_li {
    @apply bg-primarycolor text-bodycolor;
  }
  .setting-item {
    @apply w-full mb-[6px] flex flex-row items-center;
  }

  .setting-item label {
    @apply inline-block w-[43%] text-left;
  }

  .setting-item input[type="text"] {
    @apply w-[100px] p-[5px] bg-labelsetting text-modalside rounded text-left;
  }
  .setting-item input[type="number"] {
    @apply rounded h-7 min-w-[30px] max-w-[61px] bg-bodycolor ml-[6px] mr-[6px] pr-[6px] border-2 border-solid border-togglecolor;
  }

  .setting-item .unit {
    @apply ml-[10px];
  }

  .setting-item select {
    @apply p-[5px] bg-labelsetting border border-hover border-solid text-modalside rounded;
  }
  .shadowMarker {
    text-shadow: 0 0 1em black, 0 0 0.5em black, 0px 0px 0.1em black;
  }

  .notDriverSelect {
    @apply w-[288px] h-[93px] border border-togglecolor border-solid rounded p-4 flex items-center justify-between cursor-pointer;
  }
  .drivers {
    @apply w-[280px] fixed h-full top-16 bg-white text-black font-medium right-[320px] transition-shadow;
  }
  .profile-image {
    @apply w-[50px] h-[50px] rounded-full mr-[10px] text-4xl p-[7px] border border-gray-400 border-solid text-black;
  }
  .heavy {
    @apply bg-drivericon text-primarycolor border border-drivericonborder border-solid;
  }
  .light {
    @apply bg-drivericonlight text-drivericonlightcolor border border-drivericonlightborder border-solid;
  }
}

body {
  margin: 0;
  font-family: "BonyadeKoodak","IranYekan", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;    
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    direction:rtl;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}


@font-face {
	font-family: BonyadeKoodak;
	font-style: normal;
	font-weight: normal;
	src: url('/font/BonyadeKoodak-Regular.woff') format('woff');	 
}

@font-face {
	font-family: BonyadeKoodak;
	font-style: normal;
	font-weight: 500;
	src: url('/font/BonyadeKoodak-Medium.woff') format('woff');		 
}

@font-face {
	font-family: BonyadeKoodak;
	font-style: normal;
	font-weight: bold;
	src: url('/font/BonyadeKoodak-Bold.woff') format('woff'); 
}

@font-face {
  font-family: IranYekan;
  font-weight: normal;
  font-style: normal;
  src: url("/font/Yekan.eot");
  src: url("/font/Yekan.eot?#iefix") format("embedded-opentype"),
    url("/font/Yekan.woff") format("woff"),
    url("/font/Yekan.ttf") format("truetype");
  font-display: swap;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 255, 255, 0.3);
}
.leaflet-container {
  font-family: IranYekan !important;
}
.leaflet-bar {
  display: none !important;
}

.switch {
  position: relative;
  display: inline-block !important;
  width: 52px !important;
  height: 26px;
  margin-right: 5px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border: 1px solid var(--body-color);
}

.switch-slider:before {
  position: absolute;
  content: "";
  height: 25px;
  width: 25px;
  left: 0px;
  bottom: -1px;
  background-color: white;
  transition: 0.4s;
  border: 1px solid var(--body-color);
}

.settings-color-car {
  background-color: #ff8343;
  color: white;
}

input:checked + .switch-slider {
  background-color: #2196f3;
}

input:focus + .switch-slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .switch-slider:before {
  transform: translateX(26px);
}

.ant-modal-body{
  height: 70vh;
}